<div class="chats-wrapper">
    <div class="chats-conatiner">
        <div class="chat-item">

            <div class="chat-user-pic-div">
                <div class="chat-user-pic">
                    <img src="https://thumbs.dreamstime.com/b/black-white-facebook-logo-icon-high-resolution-black-white-facebook-logo-white-background-vector-eps-file-available-175771686.jpg" alt="" class="chat-user-img">
                </div>
            </div>

            <div class="chat-un-lm">
                <div class="chat-username">
                    <p>Fakebook bot</p>
                </div>
    
                <div class="chat-last-message">
                    <p>Hello there ! Welcome to...</p>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="messages-wrapper">
    <div class="conversation-header">
        <div class="close-msg-wrapper">
            <button id="close-chat-btn" class="c-c-b-h"><i class="fa-solid fa-chevron-up"></i></button>
        </div>
        <div class="convo-user-pfp">
            <div>
                <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPgYHQLH78Sqfe1-DHsMWe_BVKgWmxj293lw&usqp=CAU"" alt="">
            </div>
        </div>
        <div class="convo-username">
            <div class="convo-username-wrapper">
                <p>Username</p>
            </div>
            <div class="convo-online-status">
                <p>Offline</p>
            </div>
        </div>
        <div class="convo-call">
            <i class="fa-solid fa-phone"></i>
        </div>

    </div>
    <div class="messages-container">

    </div>
    <div class="messages-nav">
        <div class="chat-attachment">
            <i class="fa-solid fa-link"></i>
        </div>
        <div class="chat-inp-div">
            <form action="/send-message" method="post">
                <input type="text" >
                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>

    </div>

</div>