<div class="c-p-f-o">
    <div class="create-post-form-div">
        <form action="/new-post" method="post">
            <div class="create-post-form-header">
                <div class="create-post-form-empty-div"></div>
                <div class="create-post-form-header-content">
                    <h5>Create Post</h5>
                </div>
                <div class="create-post-form-cancel-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <hr class="main-hr">



            <div class="create-post-form-auther">
                <div class="create-post-form-image">
                    <img src="<%= loggedInUser.profilePicturePath %> " id="c-p-f-i" alt="">
                </div>
                <div class="create-post-form-user">
                    <a href=""><%= loggedInUser.name %> </a>
                </div>
            </div>

            <div class="create-post-form-title">
                <label for="">Title</label>
                <input type="text" name="title" id="c-p-title" spellcheck="false" autocomplete="off" required>
            </div>
            <hr class="main-hr">
            
            <div class="create-post-form-body">
                <textarea name="content" id="c-p-textarea" cols="30" rows="10"  spellcheck="false" required></textarea>
            </div>

            <div class="create-post-form-button">
                <button type="submit">Post</button>
            </div>
            <input type="hidden" name="_id" id="" value="<%= loggedInUser._id %>">
            <input type="hidden" name="currPage" id="" value="<%= currPage %>">
        </form>
    </div>
</div>