<div class="d-p-f-o">
    <div class="create-post-form-div" id="d-p-f-d">
        <form id="post-del-form" action="/delete-post" method="post">
            <div class="d-p-f-header">
                <h5>Are you sure you want to delete this ?</h5>
            </div>

            <div class="create-post-form-button" id="d-p-f-b-d">
                <button type="submit">Yes</button>
                <button type="reset" id="delete-post-cancel">No</button>
            </div>
            <input type="hidden" name="_id" id="" value="<%= user._id %>">
        </form>
    </div>
</div>