<div class="overlay-main">

<div class="my-modal">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Logout</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to logout ?</p>
            </div>
            <div class="modal-footer">
              <button id="close-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

              <form action="/logout" method="post">
                <button type="submit" class="btn btn-primary">Yes</button>
              </form>
            </div>
          </div>
    </div>

</div>