.create-post-form-div{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

/* overflow scroll */
.create-post-form-header{
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.create-post-form-empty-div, .create-post-form-cancel-btn{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #939393;
}
.create-post-form-header-content{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    pointer-events: none;
}
.create-post-form-cancel-btn{
    cursor: pointer;
    padding: 2px;
} 
.create-post-form-auther{
    width: 100%;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.create-post-form-image{
    width: 50px;
    height: 50px;
    border: #a6a6a65c solid 1px;
    border-radius: 50%;
    margin: 0 0.6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#c-p-f-i{
    width: 50px;
    height: 50px;
}

.create-post-form-user{
    height: 100%;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px;
    
}

.create-post-form-user a{
    margin-top: 0.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.create-post-form-button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-post-form-button button{
    border: none;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.1rem;
    font-family: sans-serif;
    background-color: #212529;
    color: #fff;
    transition: all ease 200ms;
}
.create-post-form-button button:hover{
    background-color: #545e68;
}



.create-post-form-body{
    width: 100%;
    height: 150px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-post-form-body textarea{
    width: 100%;
    height: 100%;
    border: none;
    font-family: sans-serif;
    padding: 15px;
    font-size: 20px;
    resize: none;
    outline: none;
}
.create-post-form-title{
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.create-post-form-title label{
    font-family: sans-serif;
    font-size: 18px;
    margin:0rem 1rem;

}
.create-post-form-title input{
    width: 70%;
    height: 80%;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0a4;
    padding: 10px;
    font-size: 15px;
    outline: none;
    font-family: sans-serif;
}


.create-post-div{
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 99%;
    border: #c7c7c75c solid 1px;
    border-radius: 15px;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(138, 138, 138, 0.176);
}
.create-post-div-header , .create-post-div-items{
    height: 49.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
}
.create-post-btn{
    width: 80%;
    height: 95%;
    border-radius: 30px;
    background-color: #edecec;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    padding: 13px 0px 8px 10px;
    cursor: pointer;
    transition: all ease 300ms;

}
.create-post-btn:hover{
    background-color: #79797950;
}
.create-post-div-item{
    height: 100%;
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 300ms;
    border-radius: 20px;
}
.create-post-div-item p {
    padding: 5px;
    margin-top: 0.7rem;
}
.create-post-div-items{
    justify-content: center;
}
.create-post-div-item:hover{
    background-color: #edecec;
}
.post-auth-image{
    width: 35px;
    height: 35px;
    border: #a6a6a65c solid 1px;
    border-radius: 50%;
    margin: 0 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.post-auth-name{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-auth-name a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.main-hr{
    width: 80%;
    margin: auto;
    color: #a6a6a6dc;

}

#post-auth-img-cicle{
    width: 35px;
    height: 35px;
}
.profile-posts .post-item-p{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    width: 99%;
    border: #a6a6a65c solid 1px;
    border-radius: 15px;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(138, 138, 138, 0.176);

}
.post-author{
    width: 100%;
    padding: 8px;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}
.post-content{
    width: 100%;
    padding: 8px;
    min-height: 65px;
    padding-left: 1.7rem;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
}
.post-buttons{
    width: 100%;
    padding: 5px;
    height: 35px;
    display: flex;
    justify-content: center;

}

.post-publish-date{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    flex-grow: 1;
    
    
}
.post-publish-date p {
    font-size: 11px;
    font-family: sans-serif;
    padding: 7px;
    color: #797979;
}

.comment-btn-div,.like-btn-div {
    height: 95%;
    width: 48%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-btn-div{
    border-right: 1px solid #a6a6a639;
}

.post-title{
    width: 100%;
    height: 30px;
    padding: 5px;
    font-weight: 500;
    padding-left: 1.7rem;
}